* {padding: 0; margin: 0; box-sizing: border-box}
#container{
width: 100%;
height: 100dvh;
position : relative
}

iframe {
width: 100%;
height: 100%;
}

.nav-button {
	width: 40px;
	height: 40px; 
	aspect-ratio: 1;
	background-color: rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(30px);
	-webkit-backdrop-filter: blur(30px);
	border: 1px solid #ccc;
	padding: 8px;
	border-radius: 50px;
	cursor: pointer;
	transition: 0.2s;
}

.nav-button:hover{
	scale: 1.1
}
.nav-button svg {
	width: 100%;
	height: auto;
	filter: brightness(0) invert(1)
}
























#video-label-container {
    position: absolute;
    width: clamp(200px, 90%, 450px);
    top: 5%;
	inset-inline: 5%;
	background-color: rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(30px);
	-webkit-backdrop-filter: blur(30px);
	border: 1px solid #ccc;
    color: white;
    padding: 40px 15px 20px;
    border-radius: 16px;
    z-index: 1000;
}

.close-tag {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50px;
	border: none
}

.close-tag:hover {
    background: #ddd;
}







.tag-popup {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 350px;
	
    height: fit-content;
    background: white;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 8px 40px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    gap: 10px;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.25s, transform 0.25s;
    z-index: 999999;
}

.tag-popup.hidden {
    opacity: 0;
    transform: translateY(20px);
    pointer-events: none;
}

.tag-popup-close {
    background: none;
    border: none;
    font-size: 28px;
    cursor: pointer;
    align-self: flex-end;
    line-height: 20px;
}

.tag-media iframe,
.tag-media img {
    width: 100%;
    height: 250px;
    border: none;
    border-radius: 16px;
}
